//colors
$color_cod_gray_approx: rgb(11, 8, 8);
$white: #fff;
$color_mountain_mist_approx: #999;
$color_alto_approx: #ddd;
$color_feta_approx: #f4fce8;

.todolist {
  background-color: $white;
  padding: 20px 20px 10px 20px;
  margin-top: 30px;

  h1 {
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
  }
}

.form-control {
  border-radius: 0;

  &:-ms-input-placeholder {
    color: $color_mountain_mist_approx;
  }

  &::-moz-placeholder {
    color: $color_mountain_mist_approx;
  }

  &::-webkit-input-placeholder {
    color: $color_mountain_mist_approx;
  }
}

#done-items {
  li {
    padding: 10px 0;
    border-bottom: 1px solid $color_alto_approx;
    text-decoration: line-through;

    &:last-child {
      border-bottom: none;
    }

    .checked {
      text-decoration: line-through;
    }

    .ui-state-default {
      background: $white;
      border: none;
      border-bottom: 1px solid $color_alto_approx;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
